<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AlfredAiApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlfredAI"
        android:enableOnBackInvokedCallback="true"
        >

        <activity
            android:name=".MobileActivity"
            android:exported="true"
            android:theme="@style/Theme.AlfredAI"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MobileForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            >
            <!--
            https://developer.android.com/develop/background-work/services/fgs/service-types#microphone
            https://developer.android.com/develop/background-work/services/fgs/service-types#remote-messaging
            https://developer.android.com/develop/background-work/services/fgs/service-types#special-use
            -->
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="OpenAI Realtime WebRTC Voice Assistant Session (VoIP Call)"
                />
            <intent-filter>
                <action android:name="com.swooby.alfredai.action.START" />
                <action android:name="com.swooby.alfredai.action.STOP" />
            </intent-filter>
        </service>

    </application>

</manifest>